.header {
    background-color: #1c1c24;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container {
    max-width: 1250px;
    width: 100%;
    display: flex;

}

.header__container .header__logo {
    height: 30px;
}

.header__container .header__logo > img {
    height: 100%;
    border-radius: 50%;
}