.search {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;

}

.search__container {
    background-color: #1c1c24;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #222328;
    display: flex;
}

.search__inputContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search__inputContainer > input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: #fff;
    margin-left: 15px;
}

.search__inputContainer > .MuiSvgIcon-root {
    font-size: 20px !important;
    margin-left: 25px;
}